.settings-page {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(180deg, var(--bg-deep) 0%, var(--bg-lighter) 100%);
  color: var(--text-white);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  
  .label {
    font-size: 16px;
    font-weight: 500;
  }
}
